<ion-view view-title="你">
  <ion-content>
    <!--https://codepen.io/thiennhat/pen/jPorYW-->
    <div style="padding: 20px;margin-top: 20px;margin-bottom: 20px;animation-delay: 1s;animation-name: your_animation; animation-duration: 2s; -webkit-animation-fill-mode: both;-webkit-animation-duration: 2s;">
      <div style="float: right; margin-right: 160px; margin-top: 10px">
        <p>
          <a ng-click="first()">第一个</a>
        </p>
        <p>
          <a ng-click="second()">第二个</a>
        </p>
        <p>
          <a>
            第三个
          </a>
        </p>
      </div>
      <div>
        <div style="background: #ecf0f1; border-bottom-left-radius: 50px; border-top-left-radius: 50px; height: 100px; box-shadow: 5px 5px 5px 0 rgba(0,0,0,.3);">
          <div style="border-radius: 50px;height:80px ;width:80px;box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3); position: relative; top: 10px;left: 10px; background: #2ecc71;">
            <div style="height:74px ;width:74px;border-style: dotted; border-width: 2px; border-color: white; border-radius: 50px;position: relative; top: 3px;left: 3px;">
              <span style="position: relative;top: 26px;font-size: 1.2em; margin-left: 6px; color: white">
                AD客栈
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
