<ion-view view-title="我">
  <ion-content class="overflow-scroll">
    <div class="padding">

      <img ng-src="http://www.majiamen.com/images/face/13.gif" class="image-circle"></img>

    </div>
    <ion-item>
      <div class="item-bodys">UID:{{}}</div>

    </ion-item>
    <ion-item>
      <div class="text-left">等级:</div>
    </ion-item>
    <ion-item>
      <div class="text-left">帖子:</div>
    </ion-item>
    <ion-item>
      <div class="text-left">个性签名:</div>
    </ion-item>
    <ion-item>
      <div class="text-left">短消息:</div>
    </ion-item>

  </ion-content>
</ion-view>
