<ion-view view-title="我">
  <ion-content class="overflow-scroll">
    <div class="padding-top-20">

      <img ng-src="http://www.majiamen.com/{{wo.portrait}}" class="image-circle"></img>

    </div>
    <ion-item>
      <div class="item-bodys">
        <span>UID:</span>
        <span ng-bind="wo.UID"></span>
      </div>
    </ion-item>

    <ion-item>
      <div class="text-left">
        <span>等级:</span>
        <span ng-bind="wo.level"></span>
      </div>
    </ion-item>

    <ion-item>
      <div class="text-left">
        <span>个性签名:</span>
        <span ng-bind="wo.signature"></span>
      </div>
    </ion-item>

    <ion-item>
      <div class="text-left">帖子:</div>
    </ion-item>
    <ion-item>
      <div class="text-left">短消息:</div>
    </ion-item>
    <ion-item class="button" ng-click="loginout()">
      <div class="text-left">退出登陆</div>
    </ion-item>
  </ion-content>
</ion-view>
