# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/
.editorconfig
phpwind/cookie
*.iml
www/lib/angular-cookie2.min.js
